.home {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .home-header {
    
    color: white;
    padding: 2rem;
  }
  
  .home-header h1 {
    margin-bottom: 0.5rem;
  }
  
  .home-header p {
    margin-bottom: 1.5rem;
  }
  
  .home-header button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-header button:hover {
    background-color: #4fa3f7;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .gallery-item {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
  
  }
  
  .header-image {
    width: 100%; /* L'image occupe toute la largeur */
    height: 100vh; /* L'image occupe toute la hauteur de la fenêtre */
    object-fit: cover; /* L'image s'adapte sans déformation */
    border-radius: 0; /* Supprimer les coins arrondis */
    margin: 0; /* Supprimer les marges */
    display: block; /* S'assurer que l'image est un bloc */
}

  .gallery-item:hover img {
    transform: scale(1.1);
  }
  


  .card-img-top {
    width: 80%; /* L'image occupe toute la largeur de la carte */
    height: 150px; /* Réduire la hauteur de l'image */
    object-fit: cover; /* Ajuste l'image sans déformation */
    border-radius: 5px; /* Coins légèrement arrondis */
  }